<div class="container-caja">

    <h1 class="title">REGISTRO</h1>

    <div class="form-box">
        <div class="row" style="margin-top: 2%">
        
            <div class="col-5">
                <label class="text">NOMBRE:</label>
                <input class="input-box" placeholder="Escribe aquí tu nombre" type="text">
            </div>
            
            <div class="col-2">
    
            </div>
            <div class="col-5">
                <label class="text">APELLIDOS:</label>
                <input class="input-box" placeholder="Escribe aquí tu apellido" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label class="text">CORREO ELECTRÓNICO:</label>
                <input class="input-box" placeholder="Escribe aquí tu correo electrónico" type="text">
            </div>
            <div class="col-2">
    
            </div>
            <div class="col-5">
                <label class="text">FECHA NACIMIENTO:</label>
                <input class="input-box" placeholder="DD/MM/AAAA" type="date">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label class="text">NOMBRE DE USUARIO:</label>
                <input class="input-box" placeholder="Escribe aquí tu nombre de usuario" type="email">
            </div>
            
            <div class="col-7">
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label class="text">CONTRASEÑA:</label>
                <input class="input-box" placeholder="Escribe aquí tu contraseña" type="password">
            </div>
            <div class="col-2">
    
            </div>
            <div class="col-5">
                <label class="text">REPETIR CONTRASEÑA:</label>
                <input class="input-box" placeholder="Repite tu contraseña" type="password">
            </div>
        </div>
    </div>
    <div class="row signup-div">
        <button class="signup-button">Registrar</button>
    </div>
    <div class="row form-box">
        <div class="col-1"></div>
        <div class="col-4">
            <hr style="width:100%; text-align:left; margin-left:0; border-top:5px solid #212529;">
        </div>
        <div class="col-2 continue-label">
            <label>O DESEA CONTINUAR CON</label>
        </div>
        <div class="col-4">
            <hr style="width:100%; text-align:left; margin-left:0; border-top:5px solid #212529;">
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row signup-div" style="margin-top: 20px;">
        <a class="btn google-button" href="/users/googleauth" role="button" style="text-transform:none">
            <img width="80px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://blog.hubspot.com/hubfs/image8-2.jpg" />
          </a>
    </div>
    
</div>