<div class="contenedor">
    <div class="portada">
        <div>

            <!--<img height="30px" src="../../../assets/images/logo.png">-->
            <h3>Bienvenido a Code Connect</h3>
        </div>

    </div>
    <div class="formulario">
        <div class="contenido-formulario">
            <div class="datos">
                <h4>Iniciar sesión</h4>
                <p>¿Eres nuevo? <a href="/signup">Crear una cuenta</a></p>


                <p><strong>Nombre de usuario</strong></p>
                <input class="input-box" placeholder="Escribe tu nombre de usuario" type="text">
                <p style="margin-top: 2em;"><strong>Contraseña</strong></p>
                <input class="input-box" placeholder="Escribe tu contraseña" type="text">
                <p style="text-align: right;"><a href="/signup">¿Olvidaste la contraseña?</a></p>
                
                <button class="login-button">Iniciar Sesión</button>
                <div class="row form-box">
                    <div class="col-1"></div>
                    <div class="col-4">
                        <hr style="width:100%; text-align:left; margin-left:0; border-top:1px solid #212529;">
                    </div>
                    <div class="col-1 continue-label" style="text-align: center;">
                        <label style="font-size: 10px; ">O</label>
                    </div>
                    <div class="col-4">
                        <hr style="width:100%; text-align:left; margin-left:0; border-top:1px solid #212529;">
                    </div>
                    <div class="col-1"></div>
                </div>
                <button class="custom-login-button"> <img width="40px" alt="Google sign-in" src="https://blog.hubspot.com/hubfs/image8-2.jpg" />Iniciar sesión con Google</button>
                <button class="custom-login-button" style="margin-top: 1em;"> <img width="20px" style="margin-right: 20px;" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png" /> Iniciar sesión con Facebook</button>
            </div>
        </div>

    </div>
</div>