
.container {
    margin-top: 2em;
    
}

.contenedor{
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    width: 95%;
    height: 95%;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    border-radius: 10px;
    box-shadow: 0px 2px 49px -12px rgba(0, 0, 0, 0.53);
}

.body{
    display: flex;
    flex-wrap: wrap;
}

.cardDiv{
    margin-top: 3em;
    width: 15%;
    margin-left: 4%;
    min-width: 350px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
}

.card-content{
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
    height: 100px;
    overflow: hidden; 
    text-overflow: ellipsis;
    font-size: 13px;
}

