<div class="container">
  <p>Página principal</p>
</div>

<div class="card flex justify-content-center mt-3 gap-3">
  <p-button
    (click)="showDialog()"
    icon="pi pi-external-link"
    label="Show"
  ></p-button>
  <app-theme-selector></app-theme-selector>
  <p-dialog
    header="Header"
    [(visible)]="visible"
    [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    [modal]="true"
  >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </p-dialog>
</div>
<div class="card">
  <p-dataView #dv [value]="codigos" [rows]="3" [paginator]="true">
    <ng-template let-codigo pTemplate="list">
      <div class="grid grid-nogutter">
        <div
          class="xl:col-6 sm:col-12 md:col-12 lg:col-6 justify-content-center gap-3 flex flex-row"
          *ngFor="let item of codigos; let first = first"
        >
          <div
            class="flex flex-column xl:flex-row xl:align-items-center p-4 pt-7 gap-6"
          >
            <p-card
              header="{{ item.name }}"
              class="border-round-2xl sm:w-300px lg:w-400px xl:w-400px md:w-300px 3xl:w-400px 2xl:w-400px"
            >
              <ng-template pTemplate="header">
                <div class="image">
                  <img
                    alt="{{ item.name }}"
                    src="{{ item.image }}"
                    class="border-round-top-lg"
                  />
                </div>
              </ng-template>
              <div class="absolute">
                <span class="absolute">
                  <span class="relative date">
                    {{ item.date }}
                  </span>
                </span>
              </div>
              <p class="description">{{ item.description }}</p>
            </p-card>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
