/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


body {}

@font-face {
  font-family: PressStart2P;
  src: url(./assets/fonts/PressStart2P.ttf);
}

@font-face {
  font-family: SpaceGrotesk;
  src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

button:focus, input:focus {
  outline: none;
}