
<div class="container-caja">
    <div class="title">
        <img height="30px" src="../../../assets/images/logo.png">

    </div>

    <div class="menu">

        @for (item of items; track item) {
            <div>
                <label style="margin-top: 7px;" class="menu-element" [ngClass]="item.activated == true ? 'activated' : ''" (click)="navigate(item.routerLink)">{{item.label}}</label>

            </div>

        }

        @if (login == true) {
            <p-avatar class="avatar" image="./assets/images/avatar.png" styleClass="mr-2" size="large" shape="circle" (click)="navigate('/profile')"></p-avatar>
        }


    </div>
</div>
