.container-caja{
    height: 80px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 2px 49px -12px rgba(0,0,0,0.53);
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

.menu{
    margin-right: 10px;
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    
}

.title{
    margin-left: 2%;
}

.menu-element{
    margin-right: 3em;
    cursor: pointer;
    font-family: SpaceGrotesk;
}

.menu-element:hover{
    color: blue;
}

.textoTitulo{
    font-family: PressStart2P;
}

.activated{
    color: blue;
}

.avatar{
    display: flex;
}